.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-box h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-box label {
  display: block;
  margin-bottom: 10px;
}

.form-box input[type="email"] {
  padding: 5px;
  margin-bottom: 0px; /* Add margin-bottom property */
  border-radius: 4px;
  border: 1px solid #ccc;
}


.form-box button[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  margin-top: -30px; /* Add margin-bottom property */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-box button[type="submit"]:hover {
  background-color: #0069d9;
}

.banner {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
}

.error {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin-top: 10px;
}
.spinner {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: #fff;
  height: 20px;
  width: 20px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
