.profilePic {
    width: 5%;
    height: 5%;
    margin-right: 5%;
}

.usernameText {
    color: white;
    margin-right: 2%;
}

.navColor {
    background-color: #db5642;
}

.navLinks {
    color: white;
    font-family: sans-serif;
}

.navLinks:hover {
    color: black;
    transition: 0.4s;
}

.titlePage {
    color: white;
    font-size: 25px;
}

.navbarNotification{
    color: white;
    background-color: #db5642;
    padding: 1px 6px;
    border-radius: 2px;
    margin: 10px;
}
