.home-page {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

.new-post-btn {
    margin-bottom: 50px;
    position: relative;
    left: 16px;
    font-size: 25px !important;
    padding: 20px 40px 20px 40px !important;
    border-width: 2px !important;
}

.newPostCont {
    margin-bottom: 5%;
}
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading-spinner {
    font-size: 6rem;
    margin-top: 1rem;
    animation: spin 1s linear infinite;
}

.hr-line {
    width: 100%;
    border-top: 2px solid rgb(251 146 60);
}

.filterBox {
    display: flex;
    justify-content: center;
}
.filterBox label {
    display: block;
    width: 150px;
    background: rgb(255, 220, 156);
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}
.filterBox input:checked + label {
    background: orange;
    color: #fff;
}
.filterBox input {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
