.friend-req-display-container{
    background-color: #ededed;
    max-width: max-content;
    margin: 30px auto 30px auto;
    
}

.friend-req-display-container h3{
    background-color: #d3d2d2;
    padding: 8px 0 8px 0;

}


.rec-friend-req-container {
    background-color: #ededed;
    padding: 0 20px 10px 20px;
    margin: 0 auto 20px auto;

}



.rec-friend-cancel-btn{
    width: max-content;
    cursor: pointer;
}

.friendRequest {
    height: 50px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #d3d2d2;
}

.friendRequest .friend-names-display {
    width: 50%;
    text-align: left;

}

.friendRequest .friend-image-display{
    width: 50px;
    margin: 8px 10px 8px 0;
}

.friend-buttons:disabled{
    cursor: default;
}

.friend-button-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

.friend-request-loader {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

/* .unfriend-button:disabled {
    cursor: default;
} */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}